@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html:not(.sanity-studio) {
  font-size: 62.5%;
}

body:not(.sanity-studio) {
  color: rgb(var(--foreground-rgb));
  /* background: rgb(from #0000ff r g b / 0.1); */
  background-color: var(--background-color);
  font-size: 16px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.button {
  padding: 1.2rem 2.4rem;
  border-radius: 0.6em;
  background: var(--button-primary);
  color: var(--button-primary-text);
  font-weight: 640;
  font-size: 1.4rem;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  display: inline-block;
  /* border: 0.1rem solid transparent; */
  cursor: pointer;

  &:hover {
    background-color: var(--button-primary-hover);
    color: var(--button-primary-hover-text);
    transform: scale(1.05) !important;
  }

  &:active {
    background-color: blue !important;
    color: var(--button-primary-active-text);
    transform: scale(2) !important;
  }

  &[data-button="secondary"] {
    background: var(--button-secondary);
    color: var(--button-secondary-text);
  }

  &[data-button="text"] {
    background: transparent;
    color: var(--button-secondary-text);
  }
}
