@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html:not(".sanity-studio") {
  font-size: 62.5%;
}

body:not(".sanity-studio") {
  color: rgb(var(--foreground-rgb));
  /* background: rgb(from #0000ff r g b / 0.1); */
  background-color: var(--background-color);
  font-size: 16px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
