:root {
  //=============================================
  // Theme
  //=============================================
  // Colors
  --background-color: #f4f6f9;
  --heading-color: #171d27;
  --body-text-color: #465167;
}
