:root {
  // Colors
  --background-color: #f4f6f9;
  --heading-color: #171d27;
  --body-text-color: #465167;

  --link-color: #1764ff;
  --link-color-hover: color(srgb 0.972549 0.403922 0.286275);

  // Buttons
  --button-primary: #1a3fc2;
  --button-primary-text: #f4f6f9;
  --button-primary-hover: #3254ce;
  --button-primary-hover-text: #f4f6f9;
  --button-primary-active: #415394;
  --button-primary-active-text: #f4f6f9;

  --button-secondary: #d8dfef;
  --button-secondary-text: #171d27;
  --button-secondary-hover: #3254ce;
  --button-secondary-hover-text: #171d27;
  --button-secondary-active: #415394;
  --button-secondary-active-text: #171d27;
}
