.footer {
  background: #2f384b;
  padding: 6.4rem 0 4rem;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: #eef0f2;
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8.8rem;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    justify-content: flex-start;
    gap: 4.8rem;
  }
}

.logo {
  font-size: 1.6rem;
  font-weight: 600;
}

.blurb {
  margin: 2.4rem 0 4rem;

  p {
    font-size: 1.8rem;
  }
}

.social nav {
  display: flex;
  gap: 1.6rem;
  a {
    &:hover {
      opacity: 0.75;
    }

    svg {
      width: 2.4rem;
      height: auto;
    }
  }
}

.info {
  flex: 0 0 25rem;

  @media screen and (max-width: 767px) {
    flex: 1 1 auto;
  }
}

.links {
  flex: 1 1 100%;
  display: grid;
  gap: 3.2rem;
  justify-content: flex-end;
  grid-template-columns: repeat(auto-fill, 25%);

  @media screen and (max-width: 1140px) {
    grid-template-columns: repeat(auto-fill, 45%);
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(auto-fill, 100%);
  }
}

.sublinks {
  margin-top: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 100%;
  color: rgba(255, 255, 255, 0.75);
}

.copyright {
  opacity: 0.75;
  font-size: 1.4rem;
  margin-top: 4.8rem;
}
