.footer {
  background: #2f384b;
  padding: 6.4rem 0 4rem;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: #eef0f2;
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3.2rem;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.info {
  flex: 0 1 24rem;

  @media screen and (max-width: 767px) {
    flex: 1 1 auto;
  }
}

.links {
  flex: 1 1 100%;
  display: flex;
  gap: 3.2rem;
}

.copyright {
  opacity: 0.6;
}
