.header {
  background: var(--background-color);
  padding: 1.6rem 0;
  --gap: 3.2rem;
  position: relative;
  z-index: 10;
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: calc(var(--gap) * 1.5);
  font-size: 1.4rem;
  font-weight: 500;

  nav:not([data-show]) {
    display: flex;
    gap: var(--gap);

    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

.right {
  display: flex;
  flex-direction: row-reverse;
  gap: calc(var(--gap) / 2);

  @media screen and (max-width: 767px) {
    display: none;
  }
}
