.block {
  padding: 8rem 0;

  :global .eyebrow {
    background-color: white;
  }
}

.logos {
  --gap: 6.4rem;
  display: flex;
  gap: var(--gap);
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 767px) {
    --gap: 3.2rem;
    gap: calc(2 * var(--gap)) var(--gap);
    flex-wrap: wrap;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;

  @media screen and (max-width: 767px) {
    flex: 1 1 calc(50% - var(--gap));
  }
}

.lede {
  text-align: center;
  max-width: 80rem;
  margin: 0 auto;
  margin-bottom: 6.4rem;
}
