.block {
  padding: 8rem 0;

  &[data-center="true"] {
    * {
      text-align: center;
    }
  }

  [data-container] > :last-child {
    margin-bottom: 0;
  }

  a {
    color: var(--link-color);
    &:hover {
      color: var(--link-color-hover);
    }
  }
}
